<header
  class='sticky top-0 min-h-8 h-16 p-2 flex place-content-between bg-[#1b263b] z-50 text-lg text-[#e0e1dd] font-semibold m-0'
>
  <div class='flex gap-2'>
    <img
      class='h-12 rounded-full'
      src='/images/My_New_Photo.webp'
      alt='Photo of Issa Ostos Hotta'
    />
    <h3 class='self-center hidden sm:block'>Issa Ostos Hotta</h3>
  </div>
  <nav>
    <ul class='flex gap-4 h-full items-center'>
      <li>
        <a
          class='hover:text-[#778da9] duration-300 ease-in-out'
          href='#about-section'>Sobre mi</a
        >
      </li>
      <li>
        <a
          class='hover:text-[#778da9] duration-300 ease-in-out'
          href='#project-section'>Proyectos</a
        >
      </li>
      <li>
        <a
          class='hover:text-[#778da9] duration-300 ease-in-out'
          href='#contact-section'>Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
