---

---

<section
  id='about-section'
  class='flex flex-col justify-center sm:flex-row p-6 items-center gap-8 mb-12 mt-10 text-[#e0e1dd] scroll-mt-16'
>
  <article class='flex flex-col sm:w-1/2 gap-4'>
    <h2 class='font-semibold text-xl text-[#778da9]'>Programador Front End</h2>
    <h1 class='text-7xl font-bold text-shadow-md text-shadow-sky-200'>
      Issa O. Hotta
    </h1>
    <p class='text-2xl text-[#778da9]'>
      Estudiante de Ingeniería de Sistemas en ruta de aprendizaje para ser Full
      Stack Developer. Me gusta desarrollar, por ello creo esta página web
      personal para demostrar el nivel que tengo con los proyectos que realizo.
    </p>
    <div class='flex justify-around'>
      <button class='rounded-full backdrop-blur-sm p-2'>
        <a href='https://github.com/HottaIssa'>
          <img class='max-w-10' src='/icons/github.svg' alt='github_icon' />
        </a>
      </button>
      <button>
        <a href='https://www.linkedin.com/in/ostos-hotta-issa-9820a1228/'>
          <img class='w-10' src='/icons/linkedin.svg' alt='linkedin_icon' />
        </a>
      </button>
    </div>
  </article>
  <img
    class='w-1/2 max-w-64 animate-bounce'
    src='/images/New_Poke_Character.webp'
    alt=''
  />
</section>
